@model Dictionary<string, int>

<div class="panel panel-success">
    <div class="panel-body">
        <h3 style="margin-top: 10px; margin-bottom: 10px;" W>Favorite exercises</h3>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped" style="margin-bottom: 5px;">
                    <thead>
                        <tr>
                            <th>
                                <h4 style="margin: 0;"><strong>Exercise</strong></h4>
                            </th>
                            <th>
                                <h4 style="margin: 0;"><strong>Amount</strong></h4>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="col-md-9">
                                    <h4 style="margin: 0;">@Html.DisplayFor(modelItem => item.Key)</h4>
                                </td>
                                <td class="col-md-3">
                                    <h4 style="margin: 0;">@Html.DisplayFor(modelItem => item.Value)</h4>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

