@model GymDiary.WebUI.ViewModels.SetViewModel

<span class="fraction">@Model.Weight/@Model.Repetitions</span>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script>
    $('.fraction').each(function (key, value) {
        $this = $(this)
        var split = $this.html().split("/")
        if (split.length == 2) {
            $this.html('<span class="top">' + split[0] + '</span><span class="bottom">' + split[1] + '</span>')
        }
    });
</script>